/* upload styles */

#upload {
    width: 7rem;
    margin: 4rem auto;
}

#upload label {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-size: cover;
    margin-left: -0.5rem;
    
    transition: transform 0.1s linear;
}

#upload label img {
    width: 100%;
}

#upload label img.uploaded {
    margin-left: 1.0rem;
}

@keyframes breathing {

    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

#upload .breathing {

    animation: 1s ease-in-out breathing alternate infinite;
}

#upload label:hover:not(.breathing) {
    cursor: pointer;

    transition: transform 0.1s linear;
    transform: scale(1.05);
}

#upload input {
    position: absolute;
    opacity: 0;
    width: 0;
}

#upload p {
    font-weight: 300;
    text-align: center;
    margin-top: 0.25rem;
}
