/* global styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light);
    height: 100vh;

    font-family: 'Open Sans', sans-serif;
    color: var(--text);

    /* variables */
    --border: #707070;
    --dark: #E2DDD6;
    --light: #F6F6F4;
    --text: #707070;
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}