<!-- messages -->

<div [@bounceIn]="getMessages().length">
    <div class="messages">
        <div class="message-padding" *ngFor="let message of getMessages()">
            <div class="message">
                <img *ngIf="isInfoMessage(message)" src="assets/icons/info.png" />
                <img *ngIf="isSuccessMessage(message)" src="assets/icons/check.png" />
                <img *ngIf="isErrorMessage(message)" src="assets/icons/x.png" />
                <p>{{message.message}}</p>
            </div>
        </div>
    </div>
</div>